.deletebutton:hover{
animation: shake 0.5s;
animation-iteration-count: 1;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
   
    20% { transform: translate(-3px, 0px) rotate(-30deg); }
    60% { transform: translate(3px, 0px) rotate(30deg); }
  
  }